treechildren::-moz-tree-checkbox {
  list-style-image: none;
  -moz-box-align: center;
}

treechildren::-moz-tree-checkbox(checked) {
  /* css for checked cells */
  list-style-image: url("chrome://firetray/skin/cbox-check.gif");
}

treechildren::-moz-tree-checkbox(checked, disabled) {
  /* css for disabled checkboxes */
  list-style-image: url("chrome://firetray/skin/cbox-disabled.gif");
}

/* properties="disabled" */
treechildren::-moz-tree-cell-text(disabled) {
        color: GrayText;
}

/*
treechildren::-moz-tree-cell(disabled) {
    background-color: #eeeeee;
}
*/

#firetray-preferences [tooltiptext] { cursor: help; }
